.header-container {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./../images/DeliveryNew/banner.jpg);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.header-top {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.header-change-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 30px 0px;
}

/* ! ---Смена цветов у шапки НАЧАЛО---*/
header:hover .header-top {
  background: #fff;
}

header:hover .text-box svg rect {
  stroke: black;
}

header:hover .text {
  color: black;
}

header:hover .svg-logo path {
  fill: #000000;
}

header:hover .svg-icons path {
  stroke: #000000;
}

header:hover .svg-basket path {
  fill: #000000
}

/* ! ---Смена цветов у шапки КОНЕЦ---*/


.header-element {
  width: 30%;
}

.choice-regiones-box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.text-box svg {
  display: block;
}

.text {
  font-weight: var(--fw-regular);
  color: #fff;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box svg {
  display: block;
}

.icons-box {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

.icons-box svg {
  cursor: pointer;
  display: block;

}

.header-catalog-name {
  font-weight: var(--fw-medium);
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
  padding: 0px 0px 42px 0px;
}

/* !---Выезжающий хедер НАЧАЛО--- */
.header-move {
  z-index: 100;
  width: 100%;
  background: #ffffff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.header-move__hidden {
  top: -120px;
  position: absolute;
}

.header-move__visible {
  top: 0px;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-move .text {
  color: #000000;
}

/*  .scroll-block {
  cursor: pointer;
  position: fixed;
  width: 50px;
  height: 50px;
  border: 2px solid #bcbcff;
  bottom: 20px;
  right: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #bcbcff;
  -webkit-animation: .3s scroll_visible;
  animation: .3s scroll_visible
}



.hidden {
  bottom: -300px;
  -webkit-animation: .3s scroll_hidden;
  animation: .3s scroll_hidden
}

@-webkit-keyframes scroll_visible {
  from {
    bottom: -300px
  }
}

@keyframes scroll_visible {
  from {
    bottom: -300px
  }
}

@-webkit-keyframes scroll_hidden {
  from {
    bottom: 20px
  }
}

@keyframes scroll_hidden {
  from {
    bottom: 20px
  }
} */
/* !---Выезжающий хедер КОНЕЦ--- */