.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 75px 0px 25px 0px;
  justify-content: space-evenly;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.product-img {
  display: block;
  margin: 0px 0px 24px 0px;
}

.product-title {
  font-size: 25px;
  font-weight: var(--fw-medium);
  margin: 0px 0px 24px 0px;
}

.product-cost {
  font-size: var(--fsz-medium);
  font-weight: var(--fw-medium);
  margin: 0px 0px 15px 0px;
}

.cost-value {
  margin: 0px 8px 0px 0px;
}

.product-delivery {
  font-size: var(--fsz-little);
  font-weight: var(--fw-medium);
}

.delivery-resalt {
  font-size: var(--fsz-little);
  font-weight: var(--fw-medium);
  color: var(--other-color);
}

/* !---Корзина и счётчик в карточке НАЧАЛО--- */
.basket-container {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--other-color);
  width: 56px;
  height: 56px;
  top: 350px;
  right: 26px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  opacity: 1;
}

.count-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 370px;
  right: 20px;
  gap: 10px;
}

.button-count.minus svg {
  width: 40px;
  height: 40px;
}

.button-count.plus svg {
  width: 40px;
  height: 40px;
}

.disactive {
  display: none;
}

.active {}

.minus svg circle,
.plus svg circle {
  cursor: pointer;
  transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

.minus:hover svg circle {
  fill: var(--other-color);

}

.count input {
  font-size: var(--fsz-little);
  background: #fff;
  border: none;
  width: 20px;
  text-align: center;
}

.plus:hover svg circle {
  fill: var(--other-color);
}


/* !---Корзина и счётчик корзины в карточке КОНЕЦ--- */

@media(max-width: 480px) {
  .products-container {
    row-gap: 25px;
    column-gap: 5px;
    padding: 30px 0px 25px 0px;
    justify-content: space-evenly;
  }

  .product-img {
    display: block;
    margin: 0px 0px 10px 0px;
    object-fit: cover;
  }

  .product-card {
    width: 155px;
    position: relative;
    display: flex;
    flex-direction: column;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .basket-container {
    width: 32px;
    height: 32px;
    top: 123px;
    right: 3px;
  }

  .svg-basket {
    width: 14px;
    height: 16px;
  }

  .products-filtres__sidebar-container {
    justify-content: space-between;
  }

  .products-filtres-container {
    display: none;
  }

  .filter-flex {
    display: none !important;
  }

  .count-container {
    top: 121px;
    right: 3px;
    gap: 10px;
  }

  .product-title {
    font-size: var(--fsz-little-plus);
    font-weight: var(--fw-medium);
    margin: 0px 0px 10px 0px;
  }

  .product-cost {
    font-size: var(--fsz-little-plus);
    font-weight: var(--fw-medium);
    margin: 0px 0px 10px 0px;
  }

  .product-delivery {
    font-size: var(--fsz-little);
    font-weight: var(--fw-medium);
  }

  .button-count.minus svg {
    width: 32px;
    height: 32px;
  }

  .button-count.plus svg {
    width: 32px;
    height: 32px;
  }

}