.basket-field-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  top: 0px;
  justify-content: flex-end;
}

.basket-container__active {
  display: flex;
}

.basket-container__disactive {
  display: none;
}

.basket-field {
  position: relative;
  overflow-y: auto;
  right: 0px;
  width: 685px;
  height: 100vh;
  background: #fff;
}

.basket-close {
  cursor: pointer;
  margin: 50px 0px 0px 0px;
  text-align: right;
}

.basket-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0px 0px 0px;
}

.basket-title {
  font-size: var(--fsz-medium-plus);
  font-weight: var(--fw-medium);
}

.basket-title span {
  font-size: var(--fsz-little);
  font-weight: var(--fw-regular);
}

.basket-button-reset {
  cursor: pointer;
}

.product-field {
  margin: 35px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.basket-product-item {
  display: flex;
}

.wrapper-product-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.basket-product-img {
  width: 167px;
  height: 167px;
  margin: 0px 30px 0px 0px;
}

.basket-product-title {
  font-size: var(--fsz-medium);
  font-weight: var(--fw-medium);
  margin: 46px 0px 0px 0px;
  flex-grow: 1;
}

.product__quantity-cost {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 23px;
}

.basket-count-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 46px 0px 0px 0px;
}

.basket-count input {
  font-size: var(--fsz-little);
  background: #fff;
  border: none;
  width: 20px;
  text-align: center;
}

.product-cost {
  cursor: pointer;
}

.basket-plus svg circle {
  cursor: pointer;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

.basket-minus svg circle {
  cursor: pointer;
  transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

.basket-plus:hover svg circle,
.basket-minus:hover svg circle {
  fill: var(--other-color);
}

.product-close {
  cursor: pointer;
}

.basket-footer {
  margin: 54px 0px 0px 0px;
}

.order-sum {}

.order-title {
  font-size: var(--fsz-medium);
  font-weight: var(--fw-medium);

}

.order-delivery {
  font-size: var(--fsz-little);
  font-weight: var(--fw-medium);
  margin: 22px 0px 0px 0px;
}

.order-delivery span {
  color: var(--other-color);
}

.order-cost-products {
  display: flex;
  margin: 18px 0px 0px 0px;
}

.order-cost-text {
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-regular);
}

.order-dotes {
  flex-grow: 1;
  border-bottom: 1px dotted black;
}

.order-cost-sum {
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-medium);
}

.order-finish {
  margin: 20px 0px 0px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.order-finish__text {
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-medium);
}

.order-finish__cost-resalt {
  font-size: var(--fsz-medium);
  font-weight: var(--fw-medium);
}

.button-order {
  cursor: pointer;
  margin: 65px 0px 65px 0px;
  padding: 15px 0px 18px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-medium);
  background: var(--other-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media(max-width: 480px) {
  .basket-field-container {
    top: 27px;
  }

  .basket-title {
    font-size: var(--fsz-medium);
  }

  .basket-button-reset {
    font-size: var(--fsz-mini);
  }

  .basket-product-img {
    width: 96px;
    height: 96px;
    margin: 0px 30px 0px 0px;
  }

  .basket-product-title {
    font-size: var(--fsz-little-plus);
    margin: 0px 0px 0px 0px;
  }

  .wrapper-product-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
  }

  .basket-count-container {

    margin: 15px 0px 0px 0px;
    width: 100%;

  }

  .product__quantity-cost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
  }

  .basket-button-count.basket-plus {
    flex-grow: 1;
  }
}