.header-delivery__container {
  height: 100px;
}

.header-delivery {
  position: fixed;
  z-index: 100;
  background: #fff;
  width: 100%;
  height: 100px;
  display: flex;
  border: 1px solid var(--border-color);
  align-items: center;
  justify-content: space-between;
}

.icon__leave-page {
  display: block;
  cursor: pointer;
  margin: 0px 0px 0px 50px;
}

.icon__close-page {
  cursor: pointer;
  margin: 0px 50px 0px 0px;
}

.icon__logo {
  display: block;
  cursor: pointer;
}

.delivery__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 98px 0px 98px 0px;
}

@media (max-height: 750px) {
  .delivery__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 98px 0px;
  }
}

/*! Контейнер с контактами покупателя START */
.delivery-info__container {
  width: 805px;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

/*! Адрес и доставка START */
.delivery-address__container,
.recipient-details__container {
  display: flex;
  flex-direction: column;
  gap: 44px;

}

.delivery-address__title,
.recipient-details__title,
.delivery-payment__title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.adress-title-item,
.adress-title-text,
.recipient-title-item,
.recipient-title-text,
.delivery-payment-item,
.delivery-payment-text {
  font-size: var(--fsz-medium-big);
  font-weight: var(--fw-medium);
}

.adress-title-item,
.recipient-title-item,
.delivery-payment-item {
  /* background: #ffdfdf; */
  width: 215px;
  text-align: end;
}

.adress-title-text,
.recipient-title-text,
.delivery-payment-text {
  /* background: #ffa0a0; */
  width: 600px;
  padding: 0px 0px 0px 150px;

}

.adress-title-open,
.recipient-title-open,
.delivery-payment-open {
  /* background: #def197; */
}

.delivery-method__container,
.recipient-form__container {
  display: flex;
  justify-content: flex-end;
  align-items: start;
}

.delivery-method__text,
.recipient-form__text {
  /* background: #ffdfdf; */
  width: 215px;
  text-align: end;
  font-size: var(--fsz-medium);
  font-weight: var(--fw-medium);
}

.delivery-method__options {
  /* background: #ffa0a0; */
  width: 620px;
  padding: 0px 0px 0px 150px;
  display: flex;
  gap: 20px;
}

.method-option {
  width: 155px;
  border: 1px solid var(--border-color);
  padding: 23px 25px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.method-option p:first-child {
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-medium);
}

.method-option p {
  font-size: var(--fsz-mini);
  font-weight: var(--fw-regular);
}

.method-option p:last-child {
  margin: 20px 0px 0px 0px;
}

/*! =============================== */
.place-of-order__container {
  display: flex;
  justify-content: flex-end;
  align-items: start;
}

.place-of-order__text {
  /* background: #ffdfdf; */
  width: 215px;
  text-align: end;
  font-size: var(--fsz-medium);
  font-weight: var(--fw-medium);
}

.place-of-order__options {
  /* background: #ffa0a0; */
  width: 620px;
  padding: 0px 0px 0px 150px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.place-of-order__title {
  font-size: var(--fsz-medium);
  font-weight: var(--fw-medium);
}

.place-of-order__adress {
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-regular);
}

.place-of-order__button {
  font-size: var(--fsz-little);
  width: 185px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 40px 18px 40px;
  background: var(--border-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/*! =============================== */
.delivery-data__container {
  display: flex;
  justify-content: flex-end;
  align-items: start;
}

.delivery-data__text {
  /* background: #ffdfdf; */
  width: 215px;
  text-align: end;
  font-size: var(--fsz-medium);
  font-weight: var(--fw-medium);
}

.delivery-data__options {
  /* background: #ffa0a0; */
  width: 620px;
  padding: 0px 0px 0px 150px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.delivery-data__title {
  font-size: var(--fsz-medium);
  font-weight: var(--fw-medium);
}

.data-sum__data {
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-regular);
  margin: 0px 0px 25px 0px;
}

.data-sum__container {
  display: flex;
  max-width: 355px;
}

.data-sum__container p:last-child {
  font-weight: var(--fw-medium);
}

.data-sum__dot {
  flex-grow: 1;
  border-bottom: 1px dotted #000;
}

.delivery-data-sum__options {}

/*! =============================== */
.recipient-form__options {
  /* background: #ffa0a0; */
  width: 620px;
  padding: 0px 0px 0px 150px;
  display: flex;
  flex-direction: column;
}

.form-option {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-option__input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--border-color);
  height: 40px;
  margin: 0px 0px 13px 0px;
  outline: none;
}

.i-agree__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 35px 0px 0px 0px;
}

.i-agree {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.i-agree__checkbox {
  cursor: pointer;
  width: 25px;
  height: 16px;

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.checkbox-active {
  background: var(--other-color);
}

.checkbox-disactive {
  background: #fff;
  border: 1px solid #000;
}

.i-agree__text {
  width: 343px;
  font-size: var(--fsz-mini);
  font-weight: var(--fw-regular);
}

.i-agree__text a {
  color: #000;
  text-decoration: underline;
}

/*! =============================== */

.delivery-payment__container {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.variant-bank__empty-box {
  width: 215px;

}

.delivery-variant-bank__container {
  display: flex;
}

.variant-bank__options {
  width: 620px;
  padding: 0px 0px 0px 150px;
  display: flex;
  flex-direction: column;
}

.delivery-payment__variant-bank {
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
  padding: 25px 0px 25px 0px;
}

.i-agree-variant-bank {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.i-agree-variant-bank__text {
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-medium);
}

.delivery-payment__button {
  width: 620px;
  padding: 0px 0px 0px 150px;
  display: flex;
  flex-direction: column;


}

.delivery-payment__button {}

.delivery-payment__button button {
  cursor: pointer;
  background: var(--other-color);
  display: block;
  outline: none;
  border: none;
  padding: 16px;
  color: #fff;
  font-weight: var(--fw-bold);

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* ! Адрес и доставка FINISH */
/*! Контейнер с контактами покупателя FINISH */
/*! Контейнер с заказом START*/
.delivery-order__container {
  position: fixed;
  right: 145px;
}

.your-order {
  width: 435px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 35px;
  padding: 30px 40px;
}


.your-order-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.your-order-title {
  font-size: var(--fsz-medium);
  font-weight: var(--fw-medium);
}

.your-order-title span {
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-medium);
}

.change-order {
  font-size: var(--fsz-little);
  font-weight: var(--fw-regular);
}

.your-order-main {
  margin: 20px 0px 0px 0px;
}

.your-order-products {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.your-img-product {
  display: block;
  width: 108px;
  height: 108px;
  border: 1px solid var(--border-color);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.your-order-sum__container {
  display: flex;
  margin: 38px 0px 0px 0px;
}

.your-order-sum__text {
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-regular);
}

.your-order-sum__dott {
  flex-grow: 1;
  border-bottom: 1px dotted black;
}

.your-order-sum__resalt {
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-medium);
}

.your-order-delivery {
  display: flex;
  margin: 15px 0px 0px 0px;
}

.your-order-delivery__text {
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-regular);
}

.your-order-delivery__dott {
  flex-grow: 1;
  border-bottom: 1px dotted black;
}

.your-order-delivery__resalt {
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-medium);
}

.your-order-footer {
  margin: 44px 0px 0px 0px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.your-order-resalt {
  font-size: var(--fsz-medium);
  font-weight: var(--fw-medium);
}

.your-order-resalt-sum {
  font-size: var(--fsz-medium);
  font-weight: var(--fw-medium);
}

/*! Контейнер с заказом FINISH*/

/*! Слайдер START */
/* Ограниченная оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Стрелка вправо */
.slick-arrow.slick-prev {
  cursor: pointer;
  background: url('./../images/DeliveryNew/icons/arrow-left.svg');
  width: 30px;
  height: 30px;
  border: none;
  font-size: 0px;
  left: -35px;
}

/* Стрелка влево */
.slick-arrow.slick-next {
  cursor: pointer;
  background: url('./../images/DeliveryNew/icons/arrow-right.svg');
  width: 30px;
  height: 30px;
  border: none;
  font-size: 0px;
  right: -35px;
}

.slider .slick-arrow {
  position: absolute;
  top: 30%;
  z-index: 10;
}

.delivery-cards__container {
  width: 100%;

}

.delivery-variant-pay__slider-container,
.delivery-form-pay__container {
  display: flex;
  justify-content: flex-end;
  align-items: start;
}

.delivery-variant-pay__empty-container,
.delivery-form-pay__empty-container {
  width: 215px;
}

.delivery-variant-pay__full-container,
.delivery-form-pay__full-container {
  position: relative;
  width: 620px;
  padding: 0px 0px 0px 150px;
  display: flex;
  flex-direction: column;
}

.delivery-variant-pay__list {
  position: relative;
}

/*! Слайдер FINISH */
/*! Форма оплаты по карте START */
.delivery-form-pay__container {
  margin: 25px 0px 0px 0px;
}

.delivery-form-pay__full-container {
  padding: 0px 0px 0px 130px;
}

.delivery-form-pay {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.input-card-number__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.until-inputs__wrapper {
  display: flex;
}

.input-card-until__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-card-cvc__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-pay__label {
  display: block;
  font-size: var(--fsz-little);
  font-weight: var(--fw-regular);
  color: var(--form-pay-color);
}

.form-pay__input {
  display: block;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: var(--fsz-little);
  padding: 14px 15px;
  outline: none;
}

.form-pay__input::placeholder {
  color: var(--disactive-color);
  font-size: var(--fsz-little);
  font-weight: var(--fw-regular);
}

.form-pay__input-number {
  width: 330px;
}

.until-inputs__wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.until-slash {
  color: var(--disactive-color);
  font-size: var(--fsz-little);
  font-weight: var(--fw-regular);
}

.form-pay__until {
  width: 70px;
}

.form-pay__cvc {
  width: 70px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input-card-checkbox__box {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
}

.form-pay__input {}

.form-pay__checkbox {
  width: 24px;
  height: 24px;
}

.input-card-checkbox__text {
  width: 270px;
  font-size: var(--fsz-mini);
  font-weight: var(--fw-regular);
}


.order-button {
  cursor: pointer;
  margin: 35px 0px 0px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  padding: 13px 0px 16px 0px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: #fff;
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-medium);
  border: none;
  outline: none;
}


/*! Форма оплаты по карте FINISH */