.map {
  width: 100vw;
  height: 100vh;
  background: #a0a0a0;
  cursor: default;
}

/* !Скрываем все приблуды Яндекса */
/* .ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-controls__toolbar_right {
  display: none;
}

[class*="copyright__content"] {
  display: none;
}

.ymaps-2-1-79-searchbox__normal-layout .ymaps-2-1-79-searchbox__button-cell {
  display: none;
} */

.ymaps-2-1-79-searchbox__normal-layout .ymaps-2-1-79-searchbox__button-cell {
  z-index: 2;
  display: none;
}

/* !Делаем карту серой */
[class*="ground-pane"] {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.ymaps-2-1-79-searchbox__normal-layout {
  background: #fff;
  width: 210px;
  height: 40px;
}

[class*="searchbox__normal-layout"] {
  background: #fff;
  width: 210px;
  height: 40px;
}

.ymaps-2-1-79-searchbox-input {
  margin: 6px;
  outline: none;
}

[class*="searchbox-input"] {
  margin: 6px;
  outline: none;
}

.ymaps-2-1-79-searchbox-input.ymaps-2-1-79-_focused {
  box-shadow: none;
}

[class*="focused"] {
  box-shadow: none;
}