.map {
  width: 100vw;
  height: 100vh;
  background: #a0a0a0;
  cursor: default;

}


/* !Скрываем все приблуды Яндекса */
/* .ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-controls__toolbar_right {
  display: none;
}

[class*="copyright__content"] {
  display: none;
}

.ymaps-2-1-79-searchbox__normal-layout .ymaps-2-1-79-searchbox__button-cell {
  display: none;
} */

.ymaps-2-1-79-searchbox__normal-layout .ymaps-2-1-79-searchbox__button-cell {
  z-index: 2;
  display: none;
}

/* !Делаем карту серой */
[class*="ground-pane"] {
  filter: grayscale(1) contrast(95%);
  -webkit-filter: grayscale(1) contrast(95%);
}

.ymaps-2-1-79-searchbox__normal-layout {
  background: #fff;
  width: 210px !important;
  height: 40px;
}

[class*="searchbox__normal-layout"] {
  background: #fff;
  width: 210px;
  height: 40px;
}

.ymaps-2-1-79-searchbox-input {
  margin: 6px;
  outline: none;
}

[class*="searchbox-input"] {
  margin: 6px;
  outline: none;
}

[class*="_focused"] {
  box-shadow: none !important;
}

[class*="inner-panes"] {
  cursor: url('./../images/DeliveryNew/delivery-point/arrow-map.svg') 2 2, move;
}

[class*="_dotIcon"] {
  background-image: url('./../images/DeliveryNew/delivery-point/mark-place.svg') !important;
}

[class*="events-pane"] {
  /* display: none; */
  cursor: url('./../images/DeliveryNew/delivery-point/arrow-map.svg') 2 2, move !important;
}

.ymaps-2-1-79-searchbox-input.ymaps-2-1-79-_focused {
  box-shadow: none !important;
}

.ymaps-2-1-79-image {
  z-index: 10000;
  position: absolute;
  background-repeat: no-repeat;
}

/* .ymaps-2-1-79-image:hover {
  width: 50px !important;

} */