/* Блок с переключателем START*/
.quick-cheap-switch__container {
  cursor: pointer;
  position: absolute;
  width: 170px;
  height: 35px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  z-index: 5000;
  background: #ffffff;
  top: 40px;
  right: 533px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
}

.quik-text {
  font-size: var(--fsz-mini);
  font-weight: var(--fw-medium);
}

.switch__box {
  width: 26px;
  height: 12px;
  background: var(--border-color);
  position: relative;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.switch-element {
  width: 14px;
  height: 14px;
  position: absolute;
  top: -1px;
  background: var(--main-color);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.cheap-text {
  font-size: var(--fsz-mini);
  font-weight: var(--fw-medium);
}

.cheap-active {
  right: 0px;
}

.quik-active {
  left: 0px;
}

/* Блок с переключателем END*/

/* !Выбор пунктов выдачи */
.main-map__wrapper {
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.center-sidebar {
  width: 385px;
  margin: 0px 0px 0px 50px;
}

.goods-delivery-point__container {
  position: fixed;
  background: #ffffff;
  right: 0px;
  width: 483px;
  height: 100vh;
}

.goods-delivery-point__list {
  overflow-y: auto;
  height: 100vh;
  position: relative;
}

.scroll_container {
  padding: 197px 0px 0px 0px;
  position: relative;
}

.goods-delivery-point__list::-webkit-scrollbar {
  width: 5px;
}

.goods-delivery-point__list::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
}


/* !===Служба выдачи START=== */

.goods-delivery-point__title {
  position: fixed;
  top: 0px;
  padding: 50px 0px 0px 0px;
  background: #ffffff;
  z-index: 10;
  width: 100%;
}

.point-title {
  font-size: var(--fsz-medium);
  font-weight: var(--fw-medium);
}

.point-list__box {
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.point-list {
  margin: 35px 0px 00px 0px;
  padding: 0px 0px 10px 0px;
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-regular);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.point-list .text,
.point-list .img {
  cursor: pointer;
  color: #000;
}

.point-list--active {
  border-bottom: 1px solid black;
}

.point-list .img {
  display: block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.rotaite {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.point-list__scroll-box {
  position: absolute;
  overflow-y: auto;
  width: 435px;
  height: 235px;
  background: #ffffff;
  top: -300px;
  opacity: 0;
  left: -30px;
  box-shadow: 0px 0px 10px 3px #6f6f6f29;
  padding: 25px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.point-list__cross {
  cursor: pointer;
  position: absolute;
  display: flex;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 10px;
  justify-content: center;
  align-items: center;
  z-index: 300;
}

.point-list__cross .cross-img {
  display: block;
}

.point-list__scroll-box--active {
  opacity: 1;
  top: 33px;
}

.point-list__scroll-box::-webkit-scrollbar {
  width: 1px;
}

.point-list__scroll-box::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}

.point-list__scroll-box::-webkit-scrollbar-track {
  background-color: var(--border-color);
}

.point-list__list-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.point-list__item-container {
  display: flex;
  align-items: center;
  gap: 10px;

}

.point-list__item-marker {}

.item-marker__active {
  stroke: var(--other-color);
  fill: var(--other-color);
}

.point-list__item-description {}

.point-list__item-title {
  font-size: var(--fsz-little);
  font-weight: var(--fw-medium);
}

.point-list__item-title--active {
  color: var(--other-color);
}

.point-list__item-delivery {
  display: flex;
  align-items: center;
  gap: 25px;
}

.point-list__data-delivery,
.point-list__cost-delivery {
  font-size: var(--fsz-mini);
  font-weight: var(--fw-regular);
}

/* !===Служба выдачи END=== */
.goods-delivery-point__item {
  margin: 0px 0px 20px 0px;
  cursor: pointer;
}

.goods-delivery-point__item--active {
  background: #80808033;
  padding: 20px 0px 0px 0px;
}

.delivery-point__box {
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid var(--border-color);
}

.flag {
  width: 165px;
  display: flex;
  justify-content: end;
  background: var(--other-color);
  color: #ffffff;
  padding: 5px 10px 8px;
  font-size: var(--fsz-mini);
  font-weight: var(--fw-medium);
  border-radius: 0px 50px 50px 0px;
  -webkit-border-radius: 0px 50px 50px 0px;
  -moz-border-radius: 0px 50px 50px 0px;
  -ms-border-radius: 0px 50px 50px 0px;
  -o-border-radius: 0px 50px 50px 0px;
}

.flag-disactive {
  display: none;
}

.center-sidebar {}

.point-logo {
  margin: 0px 0px 7px 0px;
}

.point-logo img {
  display: block;
}

.point-adress {
  width: 150px;
  margin: 0px 0px 20px 0px;
  font-size: var(--fsz-little);
  font-weight: var(--fw-regular);

}

.point-cost {
  font-size: var(--fsz-little);
  font-weight: var(--fw-regular);
}

.point-data-delivery {
  font-size: var(--fsz-little);
  font-weight: var(--fw-regular);
}

/* !===Блок открывающий подробную информацию о пунктах выдачи START== */
.description-more {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px 0px 0px;
}

.description-more--active {}

.description-more--disactive {
  display: none;
}

.point-description__container {}

.point-description__title {
  font-size: var(--fsz-little);
  font-weight: var(--fw-medium);
}

.point-description__text {
  font-size: var(--fsz-little);
  font-weight: var(--fw-regular);
}

.point-description__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  padding: 8px 0px 10px 0px;
  color: #ffffff;
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-bold);
  background: var(--other-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.delivery-close {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  z-index: 200;
  top: 17px;
  right: 40px;
}

.delivery-close img {
  display: block;
  width: 20px;
}

/* !===Блок открывающий подробную информацию о пунктах выдачи END== */

/* !===Блок доставки курьером  START===*/
.goods-courier-point__container {
  position: fixed;
  background: #ffffff;
  right: 0px;
  width: 483px;
  height: 100vh;
  /* display: none; */
}

.goods-courier-point--active {
  display: block;
  z-index: 1000;
}

.goods-courier-point__title {
  position: fixed;
  top: 0px;
  padding: 50px 0px 0px 0px;
  background: #ffffff;
  z-index: 10;
  width: 100%;
}

.center-sidebar {}

.point-title {
  font-size: var(--fsz-medium);
  font-weight: var(--fw-medium);
  margin: 0px 0px 30px 0px;
}

.goods-courier-point__list {
  overflow-y: auto;
  height: 100vh;
  position: relative;
}

.goods-courierpoint__list::-webkit-scrollbar {
  width: 5px;
}

.goods-courier-point__list::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
}

.goods-courier-point__item {
  margin: 0px 0px 20px 0px;
  cursor: pointer;
}

.svg-element-courier--active {
  fill: var(--other-color);
}

.courier-point__box {
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid var(--border-color);
}

.point-data-courier {
  font-size: var(--fsz-little);
  font-weight: var(--fw-regular);
}

.form-courier-adress__container {}

.coureir-adress-city {
  margin: 0px 0px 30px 0px;
}

.courier-adress__input-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.courier-adress__street {
  margin: 0px 0px 30px 0px;
  width: 100%;
}

.courier-adress__street,
.piece-of-adress {
  position: relative;
  border-bottom: 1px solid var(--border-color);
}

.piece-of-adress {
  width: 170px;
}

.adress-street__title {
  font-size: var(--fsz-little-plus);
  position: absolute;
  display: block;
  z-index: 10;
  top: 0px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.adress-street__text,
.piece-of-adress__text {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 5px;
  font-size: var(--fsz-little-plus);
  position: relative;
}

.piece-of-adress {
  position: relative;

}


.piece-of-adress__title {
  position: absolute;
  display: block;
  z-index: 10;
  top: 0px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.active-adress {
  font-size: var(--fsz-little);
  top: -15px;
}

.piece-of-adress__text {
  display: block;
  width: 100%;
  padding: 10px 5px;
}

.courier-scroll_container {
  padding: 425px 0px 0px 0px;
  position: relative;
}

.goods-courier-point__list::-webkit-scrollbar {
  width: 5px;
}

.goods-courier-point__list::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
}

.goods-courier__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 0px 10px 0px;
  color: #ffffff;
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-bold);
  background: var(--other-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.delivery-section--active {
  display: block;
}

.delivery-section--disactive {
  display: none;
}

.courier-section--active {
  display: block;

}

.courier-close {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  z-index: 200;
  top: 17px;
  right: 40px;
}

.courier-close img {
  display: block;
  width: 20px;
}

.courier-section--disactive {
  display: none;
}

/* !===Блок доставки курьером  END===*/